// Variables

// Colors
$primary-color: #666;
$secondary-color: #d35439;
$white: #f9f9f9;
$box-shadow: 0 .3rem .5rem rgb(207, 189, 187);

// Typo
$primary-typo: 'Dosis', sans-serif;
$secondary-typo: 'Square Peg',sans-serif;
$title: 'Reenie Beanie', sans-serif;

// back
$bg-color: rgba(0, 0, 0, 0.21);
$bg-img : url('../img/img-slider.jpg');
$bg-footer : url('../img/gallery/large/img03.jpg');

// menu burger
$bg-color-burger: rgb(0, 0, 0);

// Borders & Corners
$radius: 6px;

// Media
$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 992px)";


